.table-view {
    -fx-background-color: #282828;
    -fx-background-radius: 10px;
    -fx-border-radius: 25px;
    -fx-border-color: #000000;
    -fx-border-width: 5px;
}

.table-view .column-header-background {
    -fx-background-color: #383838;
    -fx-background-radius: 10px;
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: white;
    -fx-background-radius: 10px;
}

.table-view .table-row-cell {
    -fx-background-color: #282828;
}

.table-view .table-row-cell:even {
    -fx-background-color: #2F2F2F;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4D90FE;
    -fx-text-fill: white;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .placeholder .label {
    -fx-text-fill: white;
}


.cool-button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Footlight MT Light";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.text-field {
    -fx-prompt-text-fill: gray; 
    -fx-font-size: 15px; 
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.hbox {
    -fx-spacing: 10px;
}

