.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 0,0,0,1 );
}

.welcome-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
 }


.actiontarget {
   -fx-fill: rgb(255, 255, 255);
   -fx-font-weight: bold;
   -fx-stroke: black;
   -fx-stroke-width: 1;
   -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.5) , 0,0,0,1 );  
 }

 .text-left {
    -fx-font: 30px "Arial Black";
    -fx-fill: #2196F3; /* Warna teks biru */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.text-right {
    -fx-font: 30px "Arial Black";
    -fx-fill: #2196F3; /* Warna teks merah muda */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 0, 1);
}

.text-field {
    -fx-prompt-text-fill: gray; 
    -fx-font-size: 14px; 
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}
